# 1. Dependencias (Lo más pesado)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/
.pnpm-debug.log*

# 2. Carpetas de compilación y salida
.next/
out/
build/
dist/
.serverless/

# 3. Backend de otros servicios (¡IMPORTANTE!)
# Ignoramos la carpeta de Python para que no entre en la imagen de Node
backend_python/
venv/
__pycache__/

# 4. Variables de entorno (Seguridad)
.env*

# 5. Logs y Debugging
logs
*.log
.npm
.eslintcache
.stylelintcache

# 6. Archivos de sistema y editores
.DS_Store
.vscode/
.idea/
.git/
.gitignore
README.md
Thumbs.db


# EXCLUSIVO PARA macOS: -----------------------------------------------------------

# macOS archivos de sistema
.DS_Store
.AppleDouble
.LSOverride
._*

# Archivos de basura de carpetas
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directorios de metadatos de red/USB (por si se trabaja en discos externos)
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
apdisk


# Para herramientas modernas:
# Tipados de TypeScript y cachés de herramientas
*.tsbuildinfo
.eslintcache
.prettiercache
.stylelintcache

# Logs de procesos
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ----------------------------------------------------------------------------------


# Supabase CLI (Para gestionar migraciones de base de datos localmente)
supabase/.temp/
supabase/.branches/
supabase/storage/

# Ghost Reload de Next.js
.cache/


.vercel/               # Si alguna vez desplegamos en Vercel
.turbo/                # Si usamos Turborepo
